body {
    margin:0;
    background-color: #232121;
    /*padding:0;*/
    /*max-height:100vh;*/
    /*background-color: #e0e0e0;*/
    /*  background-image: url("pexels-tom-fisk-8985371.jpg");*/
    /*  margin: 3%;*/
}

.title_background_image {
  border-bottom: 2px solid red;
  height: 300px;
}

.title {
  gap:3px;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-top: -250px;
}

.adjust_header_content {
  gap:3px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.adjust_city_name {
  gap:20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.3);
  width: 300px;
  margin: 0 auto;
  margin-top: 130px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgb(0 0 0);
}

.main_background_image {
  margin-top: 16px;
  height: 700px;
}

.flexbox_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.adjust_margin {
  margin-top: -650px;
}

.adjust_temperature_card {
  width: 360px;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  height: 150px;
}

.adjust_humidity_card {
  width: 360px;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  height: 150px;
}

.adjust_wind_card {
  width: 360px;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  height: 150px;
}

.temperature_row {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}

.gif_image {
  display: flex;
  flex-direction: column;
}

/*
.overlap_gif {
  position: relative;
}
*/

.gif_position {
  margin-top: -17px;
}

.fahrenheit {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  font-style: italic;
}

.fahrenheit_column {
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  flex-direction: row;
  margin-top: -35px;
  margin-left: 15px;
  font-style: italic;
}
.rainy_status {
  display: flex;
  flex-direction: column;
}

.date_time {
  display: flex;
  flex-direction: row;
  font-style: normal;
}

.time {
  display: flex;
  flex-direction: row;
  font-style: normal;
  margin-top: -18px;
}

.date_time_time {
  display: flex;
  flex-direction: column;
  margin-left: -225px;
  margin-top: 25px;
}

.date_time_row {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 20px;
}

.sun_rise {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.rise_value {
   display: flex;
   flex-direction: row;
   font-style: normal;
   margin-top: -5px;
}

.sun_rise_value {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sun_set {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.set_value {
   display: flex;
   flex-direction: row;
   font-style: normal;
   margin-top: -5px;
}

.sun_set_value {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.sun {
  display: flex;
  flex-direction: row;
  gap:20px;
}

.sun_rise_set_column {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.max {
  display: flex;
  flex-direction: row;
  font-style: normal;
}
.min {
  display: flex;
  flex-direction: row;
  font-style: normal;
  margin-top: -12px;
}

.max_min {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-top: -10px;
}

.max_min_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.humidity {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  font-style: italic;

}

.humidity_value {
   display: flex;
   flex-direction: row;
   margin-top: -30px;
}

.humidity_value_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.wet_image {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}

.humidity_wet_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.turbine_image {
  margin-top: -25px;
}

.wind {
   display: flex;
   flex-direction: row;
   font-style: italic;
}
.speed {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.wind_speed {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.direction {
   display: flex;
   flex-direction: row;
   font-style: italic;
}
.direction_value {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.wind_direction {
   display: flex;
   flex-direction: row;
   gap: 32px;
   margin-top: -13px;
}

.wind_speed_direction {
   display: flex;
   flex-direction: column;
}

.air {
   display: flex;
   flex-direction: row;
   font-style: italic;
}
.air_value {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.air_quality {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.pressure {
   display: flex;
   flex-direction: row;
   font-style: italic;
}
.pressure_value {
   display: flex;
   flex-direction: row;
   font-style: normal;
}

.air_pressure {
   display: flex;
   flex-direction: row;
   gap: 30px;
   margin-top: -13px;
}

.air_and_pressure {
   display: flex;
   flex-direction: column;
}

.wind_content {
   display: flex;
   flex-direction: column;
}

.image_wind {
   display: flex;
   flex-direction: row;
   gap: 20px;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.adjust_forecast_card1 {
  width: 366px;
  background-color: rgba(0, 0, 255, 0.2);
  height: 150px;
}

.adjust_forecast_card2 {
  width: 366px;
  background-color: rgba(0, 0, 255, 0.2);
  height: 150px;
}

.adjust_forecast_card3 {
  width: 366px;
  background-color: rgba(0, 0, 255, 0.2);
  height: 150px;
}

.forecast_flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast_container_margin {
   margin-top: 20px;
}

.time_forecast {
  display: flex;
  flex-direction: row;
}

.gif_forecast {
  display: flex;
  flex-direction: row;
  margin-left: -2px;
}

.temperature_forecast {
  display: flex;
  flex-direction: row;
}

.column_forecast {
  display: flex;
  flex-direction: column;
}

.row_forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  gap: 5px;
}

.container-display {
  display: flex;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}